/* html, body, #root { 
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  
} */

html, body {
  display: flex;
  flex: 1 1 auto;
  background-color: #272727;
}

body {
  margin: 0;
  display: flex; 
}

#root, .App {
  display: flex;
  flex: 1 1 auto;
}